.body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Khand', sans-serif;
    font-size: 72px;
    margin: 0;
}

h2 {
    font-family: 'Khand', sans-serif;
    font-size: 60px;
    color: #3072B7;
    margin: 0;
}

h3 {
    font-family: 'Khand', sans-serif;
    font-size: 120px;
    color: #3072B7;
    margin: 0;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #292929;
}

.banner-image img {
    display: block;
    width: 60vw;
    margin: auto;
}

/* styling header */
header h1 {
    padding-top: 200px;
    padding-bottom: 50px;
}

header h2 {
    padding-bottom: 150px;
}

/* styling the form */

#search-form {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

#form {
    outline: none;
    width: 60%;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 20px;
    border: 2px solid white;
    background-color: #EFEFEF;
    color: #717171;
    transition: all 0.3s ease;
}

#form:hover {
    background-color: #dadada;
}

/* styling the submission button */
#add-button {
    background-color: black;
    height: 55px;
    width: 64px;
    margin-left: 1vw;
    border: 0 solid white;
    border-radius: 8px;
    color: white;
    font-family: 'Khand', sans-serif;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.3s;
}

#add-button:hover {
    background-color: #3072B7;
    color: white;
}

/* styling the hint message  */

.hint-message {
    color: #A5A5A5;
    font-size: 16px;
    padding-bottom: 100px;
}

.hint-message p {
    margin: 0;
}

/* styling or */
.or {
    padding-bottom: 90px;
}

/* styling creator button */
#creator-choice-button {
    background-color: #3C3C3C;
    height: 10vw;
    width: 30vw;
    border-radius: 2vw;
    border: 0px solid white;
    color: #FFCB06;
    font-family: 'Khand', sans-serif;
    font-weight: 700;
    font-size: 3vw;
    transition: all 0.3s;
}

#creator-choice-button:hover {
    background-color: white;
    border: 3px solid #3072B7;
    color: black; 
}

.creator-choice {
    padding-bottom: 100px;
}

.content {
    max-width: 90vw;
    margin: auto;
    text-align: center;
}

/* styling the arrow */
.arrow {
    padding-top: 100px;
    padding-bottom: 300px;
}

.arrow img {
    max-width: 30vw;
}

footer {
    background-color: #D9D9D9;
}

.transition h2 {
    padding-bottom: 50px;
}

/* creating the flex grid */
#team-display-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
}

#team-display-list li {
    width: 400px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* making the entry square */
.entry {
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid red;
}

/* clearing out the automatic margins */
footer p {
    margin: 0;
}

/* removing the default list settings */

#team-display-list {
    padding: 0;
}

#team-display-list li {
    display: block;
}

#team-info-list {
    padding: 0;
}

#team-info-list  li {
    display: block;
}

/* setting up CSS for info */

/* this currently is a flex...not sure if i will keep it that way */
#team-info-list {
    display: flex;
    justify-content: center;
    margin: 0;
}

#team-info-list li {
    /* background-color: grey; */
    width: 90%;
}

.info-container {
    display: flex;
    justify-content: left;
}

.image-placeholder {
    border: 1px solid red;
    width: 35%;
    aspect-ratio: 1/1;
}

.info-text {
    text-align: left;
    padding-left: 5%;
    font-weight: 500;
    font-size: 24px;
}

/* footer styling */
footer {
    color: #717171;
    font-size: 18px;
}

.footer-info {
    width: 85%;
    padding-top: 150px;
    padding-bottom: 200px;
    margin: auto;
}